.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/.well-known/
/.vscode/
/stats/
/vendor/
/basedt/
/rsc/img/gisearch/*
/rsc/img/cover/*
/rsc/img/cover/thumb/*
/rsc/img/produk/*
/rsc/img/produk/thumb/*
/rsc/img/profil/*
/rsc/img/profil/thumb/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
